{% extends 'login_app/base.html' %}

{% block title %}Password reset{% endblock %}

{% block content %}
    <h1>Password Reset</h1>
    <section class="password">
    <a href="{% url 'login_app:login' %}">Log In</a>
    <hr />
    <form action="{% url 'login_app:password_reset' %}" method="POST">
      {% csrf_token %}
      <input type="email" name="email" placeholder="Email" />
      <input type="submit" value="Reset Password" />
    </form>
    <hr />
  </section>
    {% if message %}{{ message }}{% endif %}
  </body>
  {% endblock %}
