{% extends 'login_app/base.html' %}

{% block title %}User Profile{% endblock %}

{% block content %}

    <h1>User profile</h1>
    Hello, {{ user.username }}.

    <form method="POST">
      {% csrf_token %}
      <input type="hidden" name="username" value="{{user.username}}" />
    </form>
    {% for userProfile in userProfiles %}
    <ul class="user-list">
      <li>User phone number:</li>
      {{ userProfile.telephone_number }}
      <li>Your Ranking is:</li>
      {{ userProfile.user_rank }}
    </ul>
    {% endfor %}
  </body>
  {% endblock %}
