<div class="topnav" id="myTopnav">
  <a href="{{ site.baseurl }}">Home </a>
  <a href="{{ site.baseurl }}presentation/">Presentation</a>
  <a href="{{ site.baseurl }}documentation/">Documentation</a>
</div>