body {
  font-size: 0.875rem;
  background-color: #f8f8f8;
}
h1 {
  color: #8daa72;
  font-family: "Times New Roman", Times, serif;
}

.topnav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: #333333;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px 10px #888888;
}

.topnav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4caf50;
  color: white;
}

.login,
.signup,
.password {
  background-color: #ffffff;
  padding: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  width: 60%;
}

body {
  margin-left: 220px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

p {
  color: #ea9fa4;
}

input[type="text"],
[type="password"],
[type="email"],
[type="phone"],
select,
textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.login a,
.password a {
  font-size: 0.5em;
  color: #8daa72;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

input[type="submit"] {
  background-color: #ea9fa4 !important;
  border-radius: 20px;
  margin-top: 20px;
  width: 20%;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
