<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
</head>

<body>
  {% include nav.html %}
  <h1>{{ page.title }}</h1>
  {{ content }}
</body>

</html>