{% extends 'account_app/base.html' %} {% block title %}Account{% endblock %}
{% block content %}
<div class="accounts_text"><h1>Account details</h1></div>
<div class="transactions-text"><h1>Transactions</h1></div>
<section class="account-details">
<a href="{% url 'account_app:index' %}">Home</a>
<hr />
<ul>
  {% for account in accounts %}

  <ul class="account-list">
    Account Name:
    {{ account.text }}
    Account number:
    {{ account.number }}
    Your Balance
    {{ account.balance }}
  </ul>


  <form action="{% url 'account_app:account_withdraw' %}" method="POST">
    {% csrf_token %}
    <p>Withdraw</p>
    <input type="hidden" name="account_number" value="{{account.number}}" />
    <input type="number" placeholder="Amount" name="withdraw_amount" required max="{{account.balance}}"/>
    <input type="submit" value="Withdraw" />
  </form>

  <form action="{% url 'account_app:account_deposit' %}" method="POST">
    {% csrf_token %}
    <p>Deposit</p>
    <input type="hidden" name="account_number" value="{{account.number}}" />
    <input type="number" placeholder="Amount" name="deposit_amount" required min="1"/>
    <input type="submit" value="Deposit" />
  </form>
</section>
  <style>
    .account-list {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-column-gap: 25px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  </style>
  {% endfor %}
</ul>

<div class="account-log">

{% for accountTransaction in accountTransactions %}

<div class="transaction-table">
  <div><b>Transaction ID</b></div>
  <div><b>Transaction Type</b></div>
  <div><b>Amount</b></div>
  <div><b>Balance</b></div>
  <div>{{ accountTransaction.transactionID }}</div>

  <div>{{ accountTransaction.transactionType }}</div>
  {% if accountTransaction.transactionType == "Withdraw" %}
    <div style="color:red;">- {{ accountTransaction.transactionAmount }}</div>
  {% elif accountTransaction.transactionType == "Transfer Out"%}
    <div style="color:red;">- {{ accountTransaction.transactionAmount }}</div>
  {% elif accountTransaction.transactionType == "Deposit" %}
    <div style="color:green;">+ {{ accountTransaction.transactionAmount }}</div>
  {% elif accountTransaction.transactionType == "Transfer In" %}
    <div style="color:green;">+ {{ accountTransaction.transactionAmount }}</div>
  {% elif accountTransaction.transactionType == "Initial Deposit" %}
    <div style="color:green;">+ {{ accountTransaction.transactionAmount }}</div>
  {% endif %}

  <div>{{ accountTransaction.balance }}</div>

</div>
</div>
<style>
  .transaction-table {
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    margin-bottom:10px;
  }
</style>
{% endfor %}
{% endblock %}
